{% extends "kobo/base.html" %}

{%- block subtitle %}KoBo{% endblock -%}

{% block primary_content %}

<h1>My KoBo Surveys</h1>

<p>The following surveys in KoBo are available for importing to RIDL.</p>

<table class="table table-header table-hover table-bordered table-responsive">
<thead>
    <tr>
    <th class="col-md-3">Survey</th>
    <th class="col-md-1">KoBo owner</th>
    <th class="col-md-1">Imported</th>
    <th class="col-md-2">Actions</th>
    </tr>
</thead>
<tbody>
{% for survey in surveys %}
<tr>
    <td><b>{{ survey.name }}</b></td>
    <td>{{ survey.owner__username }}</td>
    <td>
    {% if survey.ridl_package %}
        <p>Yes</p>
    {% elif not survey.has_deployment %}
        <p>This KoBo survey has not been deployed</p>
    {% else %}
        <p>No</p>
    {% endif %}
    </td>

    <td>
    {# if the survey is already imported we maybe want to create a new version for the resource #}
    {% if survey.ridl_package %}
        <a role="button" class="btn btn-default" href="{% url_for 'dataset.read', id=survey.ridl_package.name %}">View RIDL dataset</a>
    {% elif not survey.has_deployment %}
        -
    {% else %}
        <a role="button" class="btn btn-primary" href="{% url_for 'dataset.new', kobo_asset_id=survey.uid %}">Import</a>
    {% endif %}
    </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
