{% ckan_extends %}

{% if pkg.type == 'deposited-dataset' %}
  {% set curation = h.get_deposited_dataset_user_curation_status(pkg_dict, c.userobj.id) %}
{% endif %}

{% block content_primary_nav %}
  {{ h.build_nav_icon(dataset_type ~ '.read', _('Dataset'), id=pkg.id if is_activity_archive else pkg.name, icon='sitemap') }}
  {% if pkg.type == 'deposited-dataset' %}
    {% if h.check_access('package_activity_list', {'user': c.user, 'id': pkg.id}) %}
      {{ h.build_nav_icon('unhcr_%s.internal_activity' % dataset_type, _('Internal Activity'), dataset_id=pkg.name, icon='gavel') }}
    {% endif %}
  {% else %}
    {{ h.build_nav_icon(dataset_type ~ '.activity', _('Activity Stream'), id=pkg.id if is_activity_archive else pkg.name, icon='clock-o') }}
    {% if (
      h.check_access('package_update', {'user': c.user, 'id': pkg.id}) and
      h.check_access('package_activity_list', {'user': c.user, 'id': pkg.id})
    ) %}
      {{ h.build_nav_icon('unhcr_%s.internal_activity' % dataset_type, _('Internal Activity'), dataset_id=pkg.name, icon='gavel') }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content_action %}
  {% if 
    pkg.kobo_asset_id
    and h.check_access('package_update', {'id':pkg.id }) 
    and h.check_access('package_kobo_update', {'kobo_asset_id':pkg.kobo_asset_id }) 
  %}
    <button 
        class="btn btn-default kobo-pkg-update-resources"
        data-kobo-asset-id="{{ pkg.kobo_asset_id }}"
        data-kobo-update-endpoint="{% url_for 'unhcr_kobo.enqueue_survey_package_update' %}"
    >
    <i class="fa fa-refresh"></i>
    <span class="update-kobo-button-text">Update KoBo data</span>
  </button>
  {% endif %}
  {% if h.organizations_available('create_dataset') and not is_activity_archive %}
    {% link_for _('Copy'), named_route='unhcr_%s.copy' % dataset_type, dataset_id=pkg.id, class_='btn', icon='copy' %}
  {% endif %}
  {{ super() }}

{% endblock %}

{% block secondary %}
<aside class="secondary col-sm-3">
  {% block secondary_content %}
    {% if pkg.type == 'deposited-dataset' %}
      {% snippet "package/snippets/curation_sidebar.html", pkg=pkg, curation=curation %}
    {% else %}
      {{ super() }}
    {% endif %}
  {% endblock %}

  {% block user_guide %}
    {% snippet "snippets/user_guide.html", is_deposit=pkg.type == 'deposited-dataset' %}
  {% endblock %}

  {% block contact %}
    {% snippet "snippets/contact.html" %}
  {% endblock %}
</aside>
{% endblock %}

{% block package_social %}
{% endblock %}

{% block footer %}
  {{ super() }}
  {% if h.can_request_access(c.userobj, pkg_dict) %}
    {% snippet "package/snippets/collaboration_modals.html", pkg=pkg %}
  {% endif %}
  {% if pkg.type == 'deposited-dataset' %}
    {% snippet "package/snippets/curation_modals.html", pkg=pkg, curation=curation %}
  {% endif %}
  {% endblock %}
