{% set dataset_name = activity.data.package.name %}
{% set dataset_link = url_for('dataset.read', id=activity.data.package.name) %}

<li class="item {{ activity.activity_type|replace(' ', '-')|lower }}">
  {% if activity.data.curation_activity == 'dataset_approved' %}
    <i class="fa icon fa-check"></i>
  {% elif activity.data.curation_activity ==  'dataset_deposited' %}
    <i class="fa icon fa-upload"></i>
  {% elif activity.data.curation_activity ==  'dataset_submitted' %}
    <i class="fa icon fa-upload"></i>
  {% elif activity.data.curation_activity ==  'dataset_withdrawn' %}
    <i class="fa icon fa-times"></i>
  {% elif activity.data.curation_activity ==  'dataset_rejected' %}
    <i class="fa icon fa-times"></i>
  {% else %}
    <i class="fa icon fa-gavel"></i>
  {% endif %}
  <p>
    {{
      h.curation_activity_message(activity).format(
        actor=ah.actor(activity),
        dataset=h.link_to(dataset_name, dataset_link)
      )|safe
    }}
    <br />
    <span class="date" title="{{ h.render_datetime(activity.timestamp, with_hours=True) }}">
      {{ h.time_ago_from_timestamp(activity.timestamp) }}
    </span>
  </p>
</li>
