<div class="form-group control-full geog-group-field geog-group-field-1">
  
  {% if h.scheming_field_required(field) %}
    <span title="{{ _("This field is required") }}" class="control-required">*</span>
  {% endif %}

  <label class="control-label" for="field-geographies">{{ field.label }}</label>

  {% set unspecified = [h.get_default_geography()] == data[field.field_name] %}
  {% set val = data[field.field_name] if data[field.field_name] is string else data[field.field_name]|join(',') %}
  
  <div class="controls {% if unspecified %}unspecified-geo-div{% endif %}">
    {% if unspecified %}
      <span class="unspecified-geo-span">Please provide at least country-level geographic coverage</span>
    {% endif %}

    <input
      name="geographies"
      id="field-geographies"
      multiple="multiple"
      style="width: 100%;"
      data-module="autocomplete",
      data-module-source="/api/2/util/geography/autocomplete?q=?"
      data-module-tags="true"
      data-module-createtags="false"
      data-module-key="pcode"
      data-module-label="name"
      data-module-minimum-input-length="2"
      value="{{ val }}"
      placeholder="{% if unspecified %}Please provide at least country-level geographic coverage{% else %}{{ field.form_placeholder }}{% endif %}"
    />
    <div class="info-block ">
      <i class="fa fa-info-circle"></i>
      {{ field.help_text }}
    </div>
  </div>
</div>
