{% import 'macros/form.html' as form %}
{% set action = c.form_action or '' %}

{# This file extends from core package-form to add/remove functionality. #}

{# Check if we are importing assets from KoBo #}
{% set kobo_asset_id = request.args.get('kobo_asset_id') %}
{% if kobo_asset_id %}
    {% set kobo_pkg, errors = h.get_kobo_initial_dataset(kobo_asset_id) %}
    {% do data.update(kobo_pkg) %}
{% endif %}

{# If we come from form errors and importing from KoBo asset #}
{% if data.kobo_asset_id %}
{% set kobo_asset_id = data.kobo_asset_id %}
{% endif %}

<form id="dataset-edit" class="dataset-form form-horizontal" method="post" action="{{ h.current_path(action) }}" data-module="basic-form" novalidate>
  {% block stages %}
  {% if kobo_asset_id %}
    {{ h.snippet('package/snippets/import-kobo-stages.html', stages=stage) }}
  {% else %}
    {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endif %}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />
  {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

  {% if kobo_asset_id %}
  <input type="hidden" value="{{ kobo_asset_id }}" name="kobo_asset_id" />
  {% endif %}

  {% block basic_fields %}
    {% snippet 'package/snippets/package_basic_fields.html', data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available %}
  {% endblock %}

  {% block metadata_fields %}
    {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
  {% endblock %}

  {% block form_actions %}

      {{ form.required_message() }}
    <div class="form-actions">

      {% block disclaimer %}
      {% endblock %}
      {% block delete_button %}
        {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          <a class="btn btn-danger pull-left" href="{% url_for dataset_type ~ '.delete', id=data.id %}" data-module="confirm-action" data-module-content="{{ _('Are you sure you want to delete this dataset?') }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}

      {% if data.state == 'draft' and data.resources %}
        <button class="btn" type="submit" name="save">{{ _('Add More Data') }}</button>
        <a
          href="{% url_for 'unhcr_%s.publish' % dataset_type, dataset_id=data.id %}"
          class="btn btn-primary">
            {{ _('Publish Dataset') }}
        </a>
      {% else %}
        {% block save_button %}
          <button class="btn btn-primary" type="submit" name="save">
            {% block save_button_text %}

            {% if kobo_asset_id %}
              {{ _('Next: Describe KoBo resources') }}
            {% else %}
              {{ _('Next: Add Data') }}
            {% endif %}
            
            {% endblock %}</button>
        {% endblock %}
      {% endif %}
    </div>
  {% endblock %}
</form>
