<div class="special-resource">
    <h3>{{resource.name}}</h3>
    <p>{{resource.description}}</p>
    <p>Version: <b>{{resource.version}}</b></p>
    <p>Date range start: <b>{{resource.date_range_start}}</b></p>
    <p>Date range end: <b>{{resource.date_range_end}}</b></p>
    <p>Visibility: <b>{{resource.visibility}}</b></p>
    <p>Process status: <b>{{resource.process_status}}</b></p>
    <p>Identifiability: <b>{{resource.identifiability}}</b></p>
    <p>File type: <b>{{resource.file_type}}</b></p>

    <a role="button" class="btn btn-primary" 
       href="{{ h.url_for('dataset_resource.edit', id=resource.package_id, resource_id=resource.id) }}">
       Edit data resource
    </a>
</div>