input[type=radio],
input[type=checkbox] {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  &.checkbox-onown {
    top: 0;
  }
}

i {
  margin-right: 5px;
}

.resource_type {
  margin-top: 20px;

  & > p {
    margin-top: 5px;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.add-member-form {
  margin-bottom: 20px;
}

.special-resource {
  margin: 8px;
  padding: 15px;
  border: 2px solid black;
  max-width: 380px;
  display: inline-block;
  vertical-align: top;
}

.special-resource p {
  margin-bottom: 2px;
}

.special-resource a {
  margin: 15px 5px 3px;
  float: right;
}

.special-resources-container {
  margin: 10px;
  background-color: rgba(239, 239, 228, 0.137);
}

.special-resources-publish {
  margin: 10px;
  padding: 10px;
  background-color: rgba(239, 239, 228, 0.177);
  border: 1px solid rgba(39, 39, 28, 0.277);
}

.special-resources-publish a {
  padding: 5px 20px;
  margin: 5px 20px;
}