input[type=radio],
input[type=checkbox] {
  position: relative;
  top: 0;
  padding: 0;
  margin: 0;
  &.checkbox-onown {
    top: 0;
  }
}

i {
  margin-right: 5px;
}

.resource_type {
  margin-top: 20px;

  & > p {
    margin-top: 5px;
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.add-member-form {
  margin-bottom: 20px;
}


.kobo-resources-container {
  margin: 10px;
  background-color: rgba(239, 239, 228, 0.137);
}

.kobo-resources-publish {
  margin: 40px 0px;
  padding: 10px 0px;
}

.kobo-resources-publish a {
  padding: 5px 20px;
  margin: 5px 20px;
}

.kobo-resource-description {
  list-style: none;
  font-size: 13px;
  margin-left: 0;
  padding-left: 0;
}

.update-kobo-resources-container {
  padding: 7px 0;
}

.running-kobo-update{
  padding: inherit;
  margin-top: 10px;
}

#full_kobo_update_container {
  overflow-y: auto;
}

#survey-list-table th {
  border-bottom-width: 1px;
}

.fancySearchRow > th {
  border-bottom-width: 2px !important;
}

.fancySearchRow > th > input {
  width: 10%;
  border: 0;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.geog-group-field {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 20px;
}

.geog-group-field-1 {
  border-top: 1px solid #ccc;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-radius: 3px 3px 0 0;
}

.geog-group-field-2 {
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 3px 3px;
}

.unspecified-geo-div {
  background-color:#99222211;
  padding:20px 50px 5px;
  border: 2px solid #99222299;
}

.unspecified-geo-span {
  color: #992222;
  font-weight: bold;
}
